<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Favorite Restaurant</h1>
    <a href="{% url 'add_restaurant' %}">Add a Restaurant</a>
    <table border>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Cuisine</th>
            <th>Rating</th>
        </tr>
        {% for i in restaurants %}
        <tr>
            <td>
                <img src="{{ i.picture }}" alt="Picture of {{ i.name }}" width="100">
            </td>
            <td>{{ i.name }}</td>
            <td>{{ i.cuisine }}</td>
            <td>{{ i.rating }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>