<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivery/css/signin.css' %}">
    <title>Login page</title>
</head>
<body>
    <main>
        <div class="form-container">
            <form action="{% url 'handle_login' %}" method="POST">
                {% csrf_token %}

                <h2>Login</h2>

                <input type="text" name="name" placeholder="Username" required></br>
                <input type="password" name="pass" placeholder="Password" required></br>
                <button type="submit">SIGN IN</button>
            </form>
        </div>
    </main>
</body>
</html>
